click
colorama
cycler
Flask
fonttools
importlib-metadata
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
Pillow
pip
pyparsing
python-dateutil
setuptools
six
typing-extensions
Werkzeug
wheel
zipp
libnum
gmpy2
